// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as Speechify from "../../../../../index.js";

export declare namespace VoicesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class VoicesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<VoicesClient.Options>;

    constructor(options: VoicesClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Gets the list of voices available for the user
     *
     * @param {VoicesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Speechify.UnauthorizedError}
     * @throws {@link Speechify.ForbiddenError}
     * @throws {@link Speechify.TooManyRequestsError}
     * @throws {@link Speechify.InternalServerError}
     *
     * @example
     *     await client.tts.voices.list()
     */
    public list(requestOptions?: VoicesClient.RequestOptions): core.HttpResponsePromise<Speechify.GetVoice[]> {
        return core.HttpResponsePromise.fromPromise(this.__list(requestOptions));
    }

    private async __list(
        requestOptions?: VoicesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Speechify.GetVoice[]>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SpeechifyEnvironment.Default,
                "v1/voices",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Speechify.GetVoice[], rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Speechify.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Speechify.ForbiddenError(_response.error.body as Speechify.Error_, _response.rawResponse);
                case 429:
                    throw new Speechify.TooManyRequestsError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Speechify.InternalServerError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SpeechifyError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/voices");
    }

    /**
     * Create a personal (cloned) voice for the user
     *
     * @param {Speechify.tts.CreateVoicesRequest} request
     * @param {VoicesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Speechify.BadRequestError}
     * @throws {@link Speechify.UnauthorizedError}
     * @throws {@link Speechify.PaymentRequiredError}
     * @throws {@link Speechify.ForbiddenError}
     * @throws {@link Speechify.UnprocessableEntityError}
     * @throws {@link Speechify.TooManyRequestsError}
     * @throws {@link Speechify.InternalServerError}
     * @throws {@link Speechify.BadGatewayError}
     * @throws {@link Speechify.ServiceUnavailableError}
     *
     * @example
     *     import { createReadStream } from "fs";
     *     await client.tts.voices.create({
     *         sample: fs.createReadStream("/path/to/your/file"),
     *         name: "name",
     *         gender: "male",
     *         consent: "consent"
     *     })
     */
    public create(
        request: Speechify.tts.CreateVoicesRequest,
        requestOptions?: VoicesClient.RequestOptions,
    ): core.HttpResponsePromise<Speechify.CreatedVoice> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: Speechify.tts.CreateVoicesRequest,
        requestOptions?: VoicesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Speechify.CreatedVoice>> {
        const _body = await core.newFormData();
        _body.append("name", request.name);
        if (request.locale != null) {
            _body.append("locale", request.locale);
        }

        _body.append("gender", request.gender);
        await _body.appendFile("sample", request.sample);
        if (request.avatar != null) {
            await _body.appendFile("avatar", request.avatar);
        }

        _body.append("consent", request.consent);
        const _maybeEncodedRequest = await _body.getRequest();
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ ..._maybeEncodedRequest.headers }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SpeechifyEnvironment.Default,
                "v1/voices",
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "file",
            duplex: _maybeEncodedRequest.duplex,
            body: _maybeEncodedRequest.body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Speechify.CreatedVoice, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Speechify.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Speechify.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 402:
                    throw new Speechify.PaymentRequiredError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                case 403:
                    throw new Speechify.ForbiddenError(_response.error.body as Speechify.Error_, _response.rawResponse);
                case 422:
                    throw new Speechify.UnprocessableEntityError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                case 429:
                    throw new Speechify.TooManyRequestsError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Speechify.InternalServerError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                case 502:
                    throw new Speechify.BadGatewayError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                case 503:
                    throw new Speechify.ServiceUnavailableError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SpeechifyError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/voices");
    }

    /**
     * Delete a personal (cloned) voice
     *
     * @param {Speechify.tts.DeleteVoicesRequest} request
     * @param {VoicesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Speechify.BadRequestError}
     * @throws {@link Speechify.UnauthorizedError}
     * @throws {@link Speechify.ForbiddenError}
     * @throws {@link Speechify.NotFoundError}
     * @throws {@link Speechify.TooManyRequestsError}
     * @throws {@link Speechify.InternalServerError}
     * @throws {@link Speechify.BadGatewayError}
     * @throws {@link Speechify.ServiceUnavailableError}
     *
     * @example
     *     await client.tts.voices.delete({
     *         id: "id"
     *     })
     */
    public delete(
        request: Speechify.tts.DeleteVoicesRequest,
        requestOptions?: VoicesClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: Speechify.tts.DeleteVoicesRequest,
        requestOptions?: VoicesClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SpeechifyEnvironment.Default,
                `v1/voices/${core.url.encodePathParam(id)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Speechify.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Speechify.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Speechify.ForbiddenError(_response.error.body as Speechify.Error_, _response.rawResponse);
                case 404:
                    throw new Speechify.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Speechify.TooManyRequestsError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Speechify.InternalServerError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                case 502:
                    throw new Speechify.BadGatewayError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                case 503:
                    throw new Speechify.ServiceUnavailableError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SpeechifyError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/v1/voices/{id}");
    }

    /**
     * Download a personal (cloned) voice sample
     *
     * @throws {@link Speechify.BadRequestError}
     * @throws {@link Speechify.UnauthorizedError}
     * @throws {@link Speechify.ForbiddenError}
     * @throws {@link Speechify.NotFoundError}
     * @throws {@link Speechify.TooManyRequestsError}
     * @throws {@link Speechify.InternalServerError}
     * @throws {@link Speechify.BadGatewayError}
     * @throws {@link Speechify.ServiceUnavailableError}
     */
    public downloadSample(
        request: Speechify.tts.DownloadSampleVoicesRequest,
        requestOptions?: VoicesClient.RequestOptions,
    ): core.HttpResponsePromise<core.BinaryResponse> {
        return core.HttpResponsePromise.fromPromise(this.__downloadSample(request, requestOptions));
    }

    private async __downloadSample(
        request: Speechify.tts.DownloadSampleVoicesRequest,
        requestOptions?: VoicesClient.RequestOptions,
    ): Promise<core.WithRawResponse<core.BinaryResponse>> {
        const { id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher<core.BinaryResponse>({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SpeechifyEnvironment.Default,
                `v1/voices/${core.url.encodePathParam(id)}/sample`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            responseType: "binary-response",
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Speechify.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Speechify.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Speechify.ForbiddenError(_response.error.body as Speechify.Error_, _response.rawResponse);
                case 404:
                    throw new Speechify.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Speechify.TooManyRequestsError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Speechify.InternalServerError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                case 502:
                    throw new Speechify.BadGatewayError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                case 503:
                    throw new Speechify.ServiceUnavailableError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SpeechifyError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/voices/{id}/sample");
    }
}
