// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as Speechify from "../../../../../index.js";

export declare namespace ConsentChallengesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ConsentChallengesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ConsentChallengesClient.Options>;

    constructor(options: ConsentChallengesClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Start the consent check for a voice clone.
     *
     * Returns a `phrase` for the speaker to read aloud and an `id` that identifies this challenge. Show the phrase to the speaker exactly as returned, record them reading it, then send the recording and the `id` to `POST /v1/voices`, which verifies the recording against the phrase and against the voice sample being cloned, then keeps it as the consent record.
     *
     * A challenge is single use, is bound to the workspace that created it, and expires at `expires_at` - it is proof that a speaker was in front of a microphone just now, so create it when you are ready to record, not at the start of your flow. If it expires, create another one and record again.
     *
     * Challenge creation is rate limited per workspace at a few dozen per hour, far more tightly than the rest of the voice surface, because each one precedes a person recording themselves - mint it when your speaker is ready, not speculatively. Read the live ceiling off `RateLimit-*` rather than hard-coding it. **On a `429`, always honour `Retry-After` rather than a fixed backoff of your own**: the wait is measured in minutes and can run to most of an hour. `RateLimit-*` are omitted rather than reporting a bucket that is not the one refusing.
     *
     * @param {Speechify.voices.CreateConsentChallengeRequest} request
     * @param {ConsentChallengesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Speechify.BadRequestError}
     * @throws {@link Speechify.UnauthorizedError}
     * @throws {@link Speechify.PaymentRequiredError}
     * @throws {@link Speechify.ForbiddenError}
     * @throws {@link Speechify.ConflictError}
     * @throws {@link Speechify.TooManyRequestsError}
     * @throws {@link Speechify.InternalServerError}
     * @throws {@link Speechify.BadGatewayError}
     * @throws {@link Speechify.ServiceUnavailableError}
     *
     * @example
     *     await client.voices.consentChallenges.create({
     *         "Idempotency-Key": "a1b2c3d4-5e6f-7a8b-9c0d-1e2f3a4b5c6d",
     *         full_name: "Jane Doe"
     *     })
     */
    public create(
        request: Speechify.voices.CreateConsentChallengeRequest,
        requestOptions?: ConsentChallengesClient.RequestOptions,
    ): core.HttpResponsePromise<Speechify.ConsentChallenge> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: Speechify.voices.CreateConsentChallengeRequest,
        requestOptions?: ConsentChallengesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Speechify.ConsentChallenge>> {
        const { "Idempotency-Key": idempotencyKey, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Idempotency-Key": idempotencyKey,
                "Speechify-Version": requestOptions?.version ?? this._options?.version ?? "2026-09-29",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SpeechifyEnvironment.Default,
                "v1/voices/consent-challenges",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Speechify.ConsentChallenge, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Speechify.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Speechify.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 402:
                    throw new Speechify.PaymentRequiredError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                case 403:
                    throw new Speechify.ForbiddenError(_response.error.body as Speechify.Error_, _response.rawResponse);
                case 409:
                    throw new Speechify.ConflictError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Speechify.TooManyRequestsError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Speechify.InternalServerError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                case 502:
                    throw new Speechify.BadGatewayError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                case 503:
                    throw new Speechify.ServiceUnavailableError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SpeechifyError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/voices/consent-challenges",
        );
    }
}
