// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Speechify from "../../../index.js";

export declare namespace VoicesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Voice catalog and cloned voice management. Cross-cutting registry
 * consumed by TTS today and by future ASR speaker identification.
 */
export class VoicesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<VoicesClient.Options>;

    constructor(options: VoicesClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Lists the voices available to the caller - the shared voice
     * catalog plus the workspace's personal cloned voices. By default
     * the full catalogue is returned in one response. Pagination is
     * opt-in: pass `limit` (and then `cursor` from the previous
     * response) to page through the list while `has_more` is true. Max
     * page size is 200.
     *
     * @param {Speechify.ListVoicesRequest} request
     * @param {VoicesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Speechify.BadRequestError}
     * @throws {@link Speechify.UnauthorizedError}
     * @throws {@link Speechify.ForbiddenError}
     * @throws {@link Speechify.TooManyRequestsError}
     * @throws {@link Speechify.InternalServerError}
     *
     * @example
     *     await client.voices.list()
     */
    public async list(
        request: Speechify.ListVoicesRequest = {},
        requestOptions?: VoicesClient.RequestOptions,
    ): Promise<core.Page<Speechify.GetVoice, Speechify.ListVoicesResponse>> {
        const list = core.HttpResponsePromise.interceptFunction(
            async (
                request: Speechify.ListVoicesRequest,
            ): Promise<core.WithRawResponse<Speechify.ListVoicesResponse>> => {
                const { cursor, limit } = request;
                const _queryParams: Record<string, unknown> = {
                    cursor,
                    limit,
                };
                const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
                const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
                    _authRequest.headers,
                    this._options?.headers,
                    mergeOnlyDefinedHeaders({
                        "Speechify-Version": requestOptions?.version ?? this._options?.version ?? "2026-07-07",
                    }),
                    requestOptions?.headers,
                );
                const _response = await core.fetcher({
                    url: core.url.join(
                        (await core.Supplier.get(this._options.baseUrl)) ??
                            (await core.Supplier.get(this._options.environment)) ??
                            environments.SpeechifyEnvironment.Default,
                        "v1/voices",
                    ),
                    method: "GET",
                    headers: _headers,
                    queryString: core.url
                        .queryBuilder()
                        .addMany(_queryParams)
                        .mergeAdditional(requestOptions?.queryParams)
                        .build(),
                    timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
                    maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
                    abortSignal: requestOptions?.abortSignal,
                    fetchFn: this._options?.fetch,
                    logging: this._options.logging,
                });
                if (_response.ok) {
                    return { data: _response.body as Speechify.ListVoicesResponse, rawResponse: _response.rawResponse };
                }
                if (_response.error.reason === "status-code") {
                    switch (_response.error.statusCode) {
                        case 400:
                            throw new Speechify.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                        case 401:
                            throw new Speechify.UnauthorizedError(
                                _response.error.body as unknown,
                                _response.rawResponse,
                            );
                        case 403:
                            throw new Speechify.ForbiddenError(
                                _response.error.body as Speechify.Error_,
                                _response.rawResponse,
                            );
                        case 429:
                            throw new Speechify.TooManyRequestsError(
                                _response.error.body as Speechify.Error_,
                                _response.rawResponse,
                            );
                        case 500:
                            throw new Speechify.InternalServerError(
                                _response.error.body as Speechify.Error_,
                                _response.rawResponse,
                            );
                        default:
                            throw new errors.SpeechifyError({
                                statusCode: _response.error.statusCode,
                                body: _response.error.body,
                                rawResponse: _response.rawResponse,
                            });
                    }
                }
                return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/voices");
            },
        );
        const dataWithRawResponse = await list(request).withRawResponse();
        return new core.Page<Speechify.GetVoice, Speechify.ListVoicesResponse>({
            response: dataWithRawResponse.data,
            rawResponse: dataWithRawResponse.rawResponse,
            hasNextPage: (response) =>
                response?.next_cursor != null &&
                !(typeof response?.next_cursor === "string" && response?.next_cursor === ""),
            getItems: (response) => response?.voices ?? [],
            loadPage: (response) => {
                return list(core.setObjectProperty(request, "cursor", response?.next_cursor));
            },
        });
    }

    /**
     * Create a personal (cloned) voice for the user
     *
     * @param {Speechify.CreateVoicesRequest} request
     * @param {VoicesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Speechify.BadRequestError}
     * @throws {@link Speechify.UnauthorizedError}
     * @throws {@link Speechify.PaymentRequiredError}
     * @throws {@link Speechify.ForbiddenError}
     * @throws {@link Speechify.ConflictError}
     * @throws {@link Speechify.UnprocessableEntityError}
     * @throws {@link Speechify.TooManyRequestsError}
     * @throws {@link Speechify.InternalServerError}
     * @throws {@link Speechify.BadGatewayError}
     * @throws {@link Speechify.ServiceUnavailableError}
     *
     * @example
     *     import { createReadStream } from "fs";
     *     await client.voices.create({
     *         sample: fs.createReadStream("/path/to/your/file"),
     *         "Idempotency-Key": "a1b2c3d4-5e6f-7a8b-9c0d-1e2f3a4b5c6d",
     *         name: "name",
     *         gender: "male",
     *         consent: "consent"
     *     })
     */
    public create(
        request: Speechify.CreateVoicesRequest,
        requestOptions?: VoicesClient.RequestOptions,
    ): core.HttpResponsePromise<Speechify.GetVoice> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: Speechify.CreateVoicesRequest,
        requestOptions?: VoicesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Speechify.GetVoice>> {
        const _body = await core.newFormData();
        _body.append("name", request.name);
        if (request.locale != null) {
            _body.append("locale", request.locale);
        }

        _body.append("gender", request.gender);
        await _body.appendFile("sample", request.sample);
        if (request.avatar != null) {
            await _body.appendFile("avatar", request.avatar);
        }

        _body.append("consent", request.consent);
        const _maybeEncodedRequest = await _body.getRequest();
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Idempotency-Key": request["Idempotency-Key"],
                "Speechify-Version": requestOptions?.version ?? this._options?.version ?? "2026-07-07",
                ..._maybeEncodedRequest.headers,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SpeechifyEnvironment.Default,
                "v1/voices",
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "file",
            duplex: _maybeEncodedRequest.duplex,
            body: _maybeEncodedRequest.body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Speechify.GetVoice, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Speechify.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Speechify.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 402:
                    throw new Speechify.PaymentRequiredError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                case 403:
                    throw new Speechify.ForbiddenError(_response.error.body as Speechify.Error_, _response.rawResponse);
                case 409:
                    throw new Speechify.ConflictError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new Speechify.UnprocessableEntityError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                case 429:
                    throw new Speechify.TooManyRequestsError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Speechify.InternalServerError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                case 502:
                    throw new Speechify.BadGatewayError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                case 503:
                    throw new Speechify.ServiceUnavailableError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SpeechifyError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/voices");
    }

    /**
     * Fetch a single voice by id - a shared catalogue voice or one of
     * the caller's own personal (cloned) voices. A personal voice that
     * belongs to another workspace returns 404, identical to an
     * unknown id, so voice inventory is never enumerable across tenants.
     *
     * @param {Speechify.GetVoicesRequest} request
     * @param {VoicesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Speechify.BadRequestError}
     * @throws {@link Speechify.UnauthorizedError}
     * @throws {@link Speechify.NotFoundError}
     * @throws {@link Speechify.TooManyRequestsError}
     * @throws {@link Speechify.InternalServerError}
     * @throws {@link Speechify.BadGatewayError}
     * @throws {@link Speechify.ServiceUnavailableError}
     *
     * @example
     *     await client.voices.get({
     *         voice_id: "voice_id"
     *     })
     */
    public get(
        request: Speechify.GetVoicesRequest,
        requestOptions?: VoicesClient.RequestOptions,
    ): core.HttpResponsePromise<Speechify.GetVoice> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: Speechify.GetVoicesRequest,
        requestOptions?: VoicesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Speechify.GetVoice>> {
        const { voice_id: voiceId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Speechify-Version": requestOptions?.version ?? this._options?.version ?? "2026-07-07",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SpeechifyEnvironment.Default,
                `v1/voices/${core.url.encodePathParam(voiceId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Speechify.GetVoice, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Speechify.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Speechify.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Speechify.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Speechify.TooManyRequestsError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Speechify.InternalServerError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                case 502:
                    throw new Speechify.BadGatewayError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                case 503:
                    throw new Speechify.ServiceUnavailableError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SpeechifyError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/voices/{voice_id}");
    }

    /**
     * Delete a personal (cloned) voice
     *
     * @param {Speechify.DeleteVoicesRequest} request
     * @param {VoicesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Speechify.BadRequestError}
     * @throws {@link Speechify.UnauthorizedError}
     * @throws {@link Speechify.ForbiddenError}
     * @throws {@link Speechify.NotFoundError}
     * @throws {@link Speechify.TooManyRequestsError}
     * @throws {@link Speechify.InternalServerError}
     * @throws {@link Speechify.BadGatewayError}
     * @throws {@link Speechify.ServiceUnavailableError}
     *
     * @example
     *     await client.voices.delete({
     *         voice_id: "voice_id"
     *     })
     */
    public delete(
        request: Speechify.DeleteVoicesRequest,
        requestOptions?: VoicesClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: Speechify.DeleteVoicesRequest,
        requestOptions?: VoicesClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { voice_id: voiceId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Speechify-Version": requestOptions?.version ?? this._options?.version ?? "2026-07-07",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SpeechifyEnvironment.Default,
                `v1/voices/${core.url.encodePathParam(voiceId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Speechify.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Speechify.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Speechify.ForbiddenError(_response.error.body as Speechify.Error_, _response.rawResponse);
                case 404:
                    throw new Speechify.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Speechify.TooManyRequestsError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Speechify.InternalServerError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                case 502:
                    throw new Speechify.BadGatewayError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                case 503:
                    throw new Speechify.ServiceUnavailableError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SpeechifyError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/v1/voices/{voice_id}");
    }

    /**
     * Download a personal (cloned) voice sample
     *
     * @throws {@link Speechify.BadRequestError}
     * @throws {@link Speechify.UnauthorizedError}
     * @throws {@link Speechify.ForbiddenError}
     * @throws {@link Speechify.NotFoundError}
     * @throws {@link Speechify.TooManyRequestsError}
     * @throws {@link Speechify.InternalServerError}
     * @throws {@link Speechify.BadGatewayError}
     * @throws {@link Speechify.ServiceUnavailableError}
     */
    public downloadSample(
        request: Speechify.DownloadSampleVoicesRequest,
        requestOptions?: VoicesClient.RequestOptions,
    ): core.HttpResponsePromise<core.BinaryResponse> {
        return core.HttpResponsePromise.fromPromise(this.__downloadSample(request, requestOptions));
    }

    private async __downloadSample(
        request: Speechify.DownloadSampleVoicesRequest,
        requestOptions?: VoicesClient.RequestOptions,
    ): Promise<core.WithRawResponse<core.BinaryResponse>> {
        const { voice_id: voiceId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Speechify-Version": requestOptions?.version ?? this._options?.version ?? "2026-07-07",
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher<core.BinaryResponse>({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SpeechifyEnvironment.Default,
                `v1/voices/${core.url.encodePathParam(voiceId)}/sample`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            responseType: "binary-response",
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Speechify.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Speechify.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Speechify.ForbiddenError(_response.error.body as Speechify.Error_, _response.rawResponse);
                case 404:
                    throw new Speechify.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Speechify.TooManyRequestsError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Speechify.InternalServerError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                case 502:
                    throw new Speechify.BadGatewayError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                case 503:
                    throw new Speechify.ServiceUnavailableError(
                        _response.error.body as Speechify.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SpeechifyError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/voices/{voice_id}/sample");
    }
}
