// This file was auto-generated by Fern from our API Definition.

import type * as core from "../../../../../core/index.js";

/**
 * @example
 *     {
 *         sample: fs.createReadStream("/path/to/your/file"),
 *         name: "name",
 *         gender: "male",
 *         consent: "consent"
 *     }
 */
export interface CreateVoicesRequest {
    /** Name of the personal voice */
    name: string;
    /** Native language (locale) of the personal voice (e.g. en-US, es-ES, etc.) */
    locale?: string;
    /**
     * Gender marker for the personal voice
     * male GenderMale
     * female GenderFemale
     * notSpecified GenderNotSpecified
     */
    gender: CreateVoicesRequest.Gender;
    /** Audio sample file */
    sample: core.file.Uploadable;
    /** Avatar image file */
    avatar?: core.file.Uploadable | undefined;
    /**
     * A **string** representing the user consent information in JSON format
     * This should include the fullName and email of the consenting individual.
     * For example, `{"fullName": "John Doe", "email": "john@example.com"}`
     */
    consent: string;
}

export namespace CreateVoicesRequest {
    /**
     * Gender marker for the personal voice
     * male GenderMale
     * female GenderFemale
     * notSpecified GenderNotSpecified
     */
    export const Gender = {
        Male: "male",
        Female: "female",
        NotSpecified: "notSpecified",
    } as const;
    export type Gender = (typeof Gender)[keyof typeof Gender];
}
