// This file was auto-generated by Fern from our API Definition.

import type * as core from "../../../../../core/index.js";

/**
 * @example
 *     {
 *         sample: fs.createReadStream("/path/to/your/file"),
 *         "Idempotency-Key": "a1b2c3d4-5e6f-7a8b-9c0d-1e2f3a4b5c6d",
 *         name: "name",
 *         gender: "male",
 *         consent: "consent"
 *     }
 */
export interface CreateVoicesRequest {
    /**
     * A client-generated key (an opaque string, max 255 chars) that makes a
     * side-effect POST safe to retry: the server runs the operation exactly
     * once and replays the first response (its status and body) for 24 hours.
     * Reusing a key with a different request body, or while the first request
     * is still in flight, returns `409 idempotency_conflict`. A replayed
     * response carries the `Idempotent-Replayed: true` header.
     */
    "Idempotency-Key"?: string;
    /** Name of the personal voice */
    name: string;
    /** Native language (locale) of the personal voice (e.g. en-US, es-ES, etc.) */
    locale?: string;
    /**
     * Gender marker for the personal voice
     * male GenderMale
     * female GenderFemale
     * not_specified GenderNotSpecified
     */
    gender: CreateVoicesRequest.Gender;
    /** Audio sample file */
    sample: core.file.Uploadable;
    /** Avatar image file */
    avatar?: core.file.Uploadable | undefined;
    /**
     * A **string** representing the user consent information in JSON format
     * This should include the fullName and email of the consenting individual.
     * For example, `{"fullName": "John Doe", "email": "john@example.com"}`
     */
    consent: string;
}

export namespace CreateVoicesRequest {
    /**
     * Gender marker for the personal voice
     * male GenderMale
     * female GenderFemale
     * not_specified GenderNotSpecified
     */
    export const Gender = {
        Male: "male",
        Female: "female",
        NotSpecified: "not_specified",
    } as const;
    export type Gender = (typeof Gender)[keyof typeof Gender];
}
